@charset "UTF-8";

*{
    font-family:' Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #7AB8BF , #C4EEF2);
}

main {
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 25px #A67458;
}

h1{
    color: #025159;
    text-align: center;
    text-shadow: 1px 1px 1px #7AB8BF;
}

h2{
    color: #A67458;
}




p {
    text-align: justify;

}